ion-content {
  ion-item.total-item {
    align-items: center;
    ion-label {
      margin: 0;
      font-size: 0.8rem;
      font-style: italic;
      font-weight: 600;
    }
    ion-icon {
      font-size: 1rem;
    }
  }


  ion-list.billing {
    background: transparent;
    ion-list-header {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    ion-item-group {
        margin-left: 1rem;
        margin-right: 1rem;
        border: 1px solid var(--ion-color-medium);
        border-radius: 8px;
        ion-item {
          --background: transparent;
          ion-label,
          ion-text {
            font-size: 0.9rem;
          }
          p {
            font-size: 0.7rem;
            margin-top: 3px;
          }
        }
    }
  }
}

.dashedBorderTop {
    border-top: 1px dashed var(--ion-color-medium);
}

.empty-screen {
  margin-top: 10rem;
  ion-icon {
    font-size: 10rem;
  }
}
